<div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<!-- <div class="col-md-2 column">
					<img alt="140x140" height="150" width="150" src="/assets/images/adminDB.png" />
				</div> -->
				<!-- 	<div class="col-md-10 column text-center"> 
					<h4 class="text-info">
						Admin actions for campus:{{campus.campusName}} of  organization id : {{campus.orgId}} and {{adminstaffobj.firstName}},{{adminstaffobj.lastName}},{{adminstaffobj.address}}
						<br/>{{adminstaffobj.subject}}{{adminstaffobj.hobby}}{{adminstaffobj.interest}},experience:{{adminstaffobj.exp}}
					</h5>
					<input type="text" ng-model="showJson"/>
					 <input type="button" ng-click="showJson()" value="Object To JSON" />
				</div> -->
			</div>

			<div class="row clearfix">
				<div class="col-md-2 column">
					<div class="panel-group" id="panel-724555">
						<div class="panel panel-default">
							<div class="panel-heading">
								<span class="panel-title collapsed" data-toggle="collapse"
									data-parent="#panel-724555" href="#panel-element-857742"><i
									class="glyphicon glyphicon-user">&nbsp;</i>Profile</span>
							</div>
							<div id="panel-element-857742" class="panel-collapse collapse">
								<div class="panel-body">
									<ul>
										<li><a ui-sref="studentProfile">Student Profile</a></li>
										
										<li><a ui-sref="familyprofile">Family Details </a></li>
										

									</ul>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<span class="panel-title collapsed" data-toggle="collapse"
									data-parent="#panel-724555" href="#panel-element-18059"><i
									class="glyphicon glyphicon-th-large">&nbsp;</i>Time Table</span>
							</div>
							<div id="panel-element-18059" class="panel-collapse collapse">
								<div class="panel-body">
									<ul>
									
										<li><a ui-sref="classtimetable">Class Time</a></li>
										<li><a ui-sref="examtimetable">Exam Time</a></li>
										
									</ul>
								</div>
							</div>
						</div>
						
						<div class="panel panel-default">
							<div class="panel-heading">
								<span class="panel-title collapsed" data-toggle="collapse"
									data-parent="#panel-724555" href="#panel-element-18054"><i
									class="glyphicon glyphicon-plus">&nbsp;</i>Medical Details</span>
							</div>
							<div id="panel-element-18054" class="panel-collapse collapse">
								<div class="panel-body">
									<ul>
									
										<li><a ui-sref="Healthstatus">Health Status</a></li>
										<li><a ui-sref="docotordetails">Family Doctor</a></li>
										
									</ul>
								</div>
							</div>
						</div>
						
						<div class="panel panel-default">
							<div class="panel-heading">
								<span class="panel-title collapsed" data-toggle="collapse"
									data-parent="#panel-724555" href="#panel-element-18055"><i
									class="glyphicon glyphicon-tent">&nbsp;</i>Holiday List</span>
							</div>
							<div id="panel-element-18055" class="panel-collapse collapse">
								<div class="panel-body">
									<ul>
									
										<li><a ui-sref="national">National Festival</a></li>
										<li><a ui-sref="religion">Religion Holidays</a></li>
										
									</ul>
								</div>
							</div>
						</div>
						
						
						<div class="panel panel-default">
							<div class="panel-heading">
								<span class="panel-title collapsed" data-toggle="collapse"
									data-parent="#panel-724555" href="#panel-element-34559"><i
									class="glyphicon glyphicon-object-align-horizontal">&nbsp;</i>Latest News</span>
							</div>
							<div id="panel-element-34559" class="panel-collapse collapse">
								<div class="panel-body">
									<ul>
										<li><a ui-sref="ActiveNews">Active News</a></li>
										<li><a ui-sref="PastNews">Past News</a></li>
										
										
									</ul>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<span class="panel-title collapsed" data-toggle="collapse"
									data-parent="#panel-724555" href="#panel-element-42359"><i
									class="glyphicon glyphicon-paste">&nbsp;</i>Attendence</span>
							</div>
							<div id="panel-element-42359" class="panel-collapse collapse">
								<div class="panel-body">
									<ul>
										<li><a href="">Monthly</a></li>
										<li><a href="">Between Days</a></li>
										
									</ul>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<span class="panel-title collapsed" data-toggle="collapse"
									data-parent="#panel-724555" href="#panel-element-54321"><i
									class="glyphicon glyphicon-duplicate">&nbsp;</i>Assignment</span>
							</div>
							<div id="panel-element-54321" class="panel-collapse collapse">
								<div class="panel-body">
									<ul>
										<li><a ui-sref="assigmentdetails">Homework Completed</a></li>
										<li><a href="">Homework Pending</a></li>
										
									</ul>
								</div>
						 </div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<span class="panel-title collapsed" data-toggle="collapse"
									data-parent="#panel-724555" href="#panel-element-18050"><i
									class="glyphicon glyphicon-th-large">&nbsp;</i>Lesson Plan</span>
							</div>
							<div id="panel-element-18050" class="panel-collapse collapse">
								<div class="panel-body">
									<ul>
										<li><a ui-sref="">1</a></li>
										<li><a href="">2</a></li>
										<li><a href="">3</a></li>
										<li><a ui-sref="">4</a></li>
									</ul>
								</div>
							</div>
						</div>
						
						
						
						
						
						
						
						
						<!-- orgHome.html  -->
						<div class="panel panel-default">
							<div class="panel-heading">
								<span class="panel-title collapsed" data-toggle="collapse"
									data-parent="#panel-724555" href="#panel-element-65433">
									<i class="glyphicon glyphicon-home">&nbsp;</i>Transportation
								</span>
							</div>


							<div id="panel-element-65433" class="panel-collapse collapse">
								<div class="panel-body">
									<ul>
										<li><a ui-sref="vehiclebyadminid">Vehicle Details</a></li>
										<li><a ui-sref="vehicleroutebyvid">Vehicle Routes</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-8 column">
					<div ui-view="stafftab" ng-show="$state.includes('top.staff')"
						class="col-sm-8"></div>
					<div ui-view="studenttab" ng-show="$state.includes('top.student')"
						class="col-sm-8"></div>
					<div ui-view="parenttab" ng-show="$state.includes('top.parent')"
						class="col-sm-8"></div>
				</div>
				
				<div ui-view class="col-md-10 column">
					<div class="panel panel-default">
						<!-- Default panel contents -->
						<div class="panel-heading">
							<center>
								<h2>Welcome to Guardian Dashboard  Campus</h2>
							</center>
						</div>
						<div class="panel-body">

							<div class="row">
								<div class="col-md-3">
									<img alt="200x200" height="200" width="200"
										src="/assets/images/home.png" />
								</div>

								<div class="col-md-9">
									We believe that our school management, teachers, students and
									parents should get relevant and important information on a
									single screen. Every module in our school management software
									has user-friendly Dashboard with Graphical Representations,
									afterall <b>Brevity is the Soul of Wit. </b> <br />
									<br />
									<div class="col-md-10 column">
											<div class="row">
								            <div class="col-xs-3">
								                <div  >
								                    <img src="/assets/images/admission.png" alt="Sample Image" class="img-thumbnail img-responsive img-circle">
								                    <div class="caption text-center">
								                        <h5><strong>Students Profile</strong></h5>
								                        <!--<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula.</p>-->
								                        <!-- <p><a href="#" class="btn btn-primary btn-xs">Share</a> <a href="#" class="btn btn-default btn-xs">Download</a></p> -->
								                    </div>
								                </div>
								            </div>
								             <div class="col-xs-3">
								                <div  >
								                    <img src="/assets/images/admission.png" alt="Sample Image" class="img-thumbnail img-responsive img-circle">
								                    <div class="caption text-center">
								                        <h5><strong>New Admission</strong></h5>
								                        <!--<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula.</p>-->
								                        <!-- <p><a href="#" class="btn btn-primary btn-xs">Share</a> <a href="#" class="btn btn-default btn-xs">Download</a></p> -->
								                    </div>
								                </div>
								            </div>
								            <div class="col-xs-3">
								                <div  >
								                    <img src="/assets/images/ManageUsers.png" alt="Sample Image" class="img-thumbnail img-responsive img-circle">
								                    <div class="caption text-center">
								                        <h5><strong>Manage Users </strong></h5>
								                        <!--<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula.</p>-->
								                        <!-- <p><a href="#" class="btn btn-primary btn-xs">Share</a> <a href="#" class="btn btn-default btn-xs">Download</a></p> -->
								                    </div>
								                </div>
								            </div>
								            <div class="col-xs-3">
								                <div  >
								                    <img src="/assets/images/bus.png" alt="Sample Image" class="img-thumbnail img-responsive img-circle">
								                    <div class="caption text-center">
								                        <h5><strong>Transport</strong></h5>
								                        <!--<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula.</p>-->
								                       <!--  <p><a href="#" class="btn btn-primary btn-xs">Share</a> <a href="#" class="btn btn-default btn-xs">Download</a></p> -->
								                    </div>
								                </div>
								            </div>
								            </div>
								            
								            <div class="row">
								            <div class="col-xs-3">
								                <div  >
								                    <img src="/assets/images/family.png" alt="Sample Image" class="img-thumbnail img-responsive img-circle">
								                    <div class="caption text-center">
								                        <h5><strong>Family Details</strong></h5>
								                        <!--<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula.</p>-->
								                        <!-- <p><a href="#" class="btn btn-primary btn-xs">Share</a> <a href="#" class="btn btn-default btn-xs">Download</a></p> -->
								                    </div>
								                </div>
								            </div>
								             <div class="col-xs-3">
								                <div  >
								                    <img src="/assets/images/attendence.jpg" alt="Sample Image" class="img-thumbnail img-responsive img-circle">
								                    <div class="caption text-center">
								                        <h5><strong></strong></h5>
								                        <!--<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula.</p>-->
								                        <!-- <p><a href="#" class="btn btn-primary btn-xs">Share</a> <a href="#" class="btn btn-default btn-xs">Download</a></p> -->
								                    </div>
								                </div>
								            </div>
								            <div class="col-xs-3">
								                <div  >
								                    <img src="/assets/images/progessbig.png" alt="Sample Image" class="img-thumbnail img-responsive img-circle">
								                    <div class="caption text-center">
								                        <h5><strong>Progress Report </strong></h5>
								                        <!--<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula.</p>-->
								                        <!-- <p><a href="#" class="btn btn-primary btn-xs">Share</a> <a href="#" class="btn btn-default btn-xs">Download</a></p> -->
								                    </div>
								                </div>
								            </div>
								            <div class="col-xs-3">
								                <div  >
								                    <img src="/assets/images/timetable.png" alt="Sample Image" class="img-thumbnail img-responsive img-circle">
								                    <div class="caption text-center">
								                        <h5><strong>Time Table</strong></h5>
								                        <!--<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula.</p>-->
								                       <!--  <p><a href="#" class="btn btn-primary btn-xs">Share</a> <a href="#" class="btn btn-default btn-xs">Download</a></p> -->
								                    </div>
								                </div>
								            </div>
								            </div>
								           </div>
								
								</div>
								
							</div>

						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>

