<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">Add New Staff Details</div>
	<div class="panel-body">

		<form name="form" ng-submit="registerstaff()" role="form">
			<div class="col-md-6">
				<div class="form-group">
					<label for="state" class="control-label">Email </label> <input
						type="text" class="form-control" id="state"
						ng-model="staffuser.identifier" ng-disabled="isDisabled()">
				</div>
				<div class="form-group">
					<label for="state" class="control-label">Password</label> <input
						type="text" class="form-control" id="state"
						ng-model="staffuser.password" ng-disabled="isDisabled()">
				</div>

				<div class="form-group">
					<label for="state" class="control-label">First Name</label> <input
						type="text" class="form-control" id="state"
						ng-model="staffuser.firstName" ng-disabled="isDisabled()">
				</div>a

				<div class="form-group">
					<label for="state" class="control-label">Middle Name</label> <input
						type="text" class="form-control" id="state"
						ng-model="staffuser.middleName" ng-disabled="isDisabled()"
						placeholder="Enter First Name">
				</div>
				<div class="form-group">
					<label for="state" class="control-label">Last Name</label> <input
						type="text" class="form-control" id="state"
						ng-model="staffuser.lastName" ng-disabled="isDisabled()"
						placeholder="Enter Last Name">
				</div>
				
				<div class="form-group">
			<label for="state" class="control-label">Gender  :</label>
			    <div class="dropdown">
			        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			            {{selectedgender}}
			            <span class="caret"></span>
			        </button>
			        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			            <li ng-repeat="a in gender"><a ng-click="dropboxgenderselected(a)">{{a}}</a><li>
			        </ul>
			    </div>
			    
			    	<div class="form-group">
					<label for="state" class="control-label">DOB</label> 
					<input type="date" class="form-control" id="state" 	ng-model="staffuser.dob" ng-disabled="isDisabled()"
						placeholder="DOB YYYY-MM-DD">
				</div>
			   
			</div>
			
			
			
               
			</div>

			<div class="col-md-6">
				
				<div class="form-group">
					<label for="state" class="control-label">Residence Address</label>
					<input type="text" class="form-control" id="state"
						ng-model="staffuser.address1" ng-disabled="isDisabled()"
						placeholder="Enter Address ">
				</div>
				
				<div class="form-group">
					<label for="state" class="control-label">Phone Number</label> <input
						type="number" class="form-control" id="state"
						ng-model="staffuser.phoneNumber" ng-disabled="isDisabled()">
				</div>

				<div class="form-group">
					<label for="state" class="control-label">Office Address</label> <input
						type="text" class="form-control" id="state"
						ng-model="staffuser.address2" ng-disabled="isDisabled()"
						placeholder="Enter Address ">
				</div>

				<div class="form-group">
					<label for="state" class="control-label">City :</label> <input
						type="text" class="form-control" id="state"
						ng-model="staffuser.city" ng-disabled="isDisabled()"
						placeholder="Enter Address ">
				</div>
				<div class="form-group">
					<label for="state" class="control-label">State :</label>
			    <div class="dropdown">
			        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			            {{selectedstate}}
			            <span class="caret"></span>
			        </button>
			        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			            <li ng-repeat="a in state"><a ng-click="dropboxstateselected(a)">{{a}}</a><li>
			        </ul>
			    </div>
				</div>

				<!-- <div class="form-group">
					<label for="state" class="control-label">Campus ID :</label> <input
						type="text" class="form-control" id="state"
						ng-model="staffuser.campusId" ng-disabled="isDisabled()"
						placeholder="Enter Address ">
				</div> -->

				<div class="form-group">
			<label for="state" class="control-label">Subject :</label>
			    <div class="dropdown">
			        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			            {{selectedsubject}}
			            <span class="caret"></span>
			        </button>
			        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			            <li ng-repeat="a in subjects"><a ng-click="dropboxsubjectselected(a)">{{a.subjectName}}</a><li>
			        </ul>
			    </div>
			   
			</div>
			
			<div class="form-group">
			<label for="state" class="control-label">Select Vehicle  :</label>
			    <div class="dropdown">
			        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			            {{selectedvehicle}}
			            <span class="caret"></span>
			        </button>
			        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			            <li ng-repeat="a in vehicles"><a ng-click="dropboxvehicleselected(a)">{{a.Vehicle_no}}</a><li>
			        </ul>
			    </div>
			   
			</div>
			<div class="col-md-12">
			<div class="form-actions">
				
			<button type="submit" class="btn btn-primary"><i class="fa fa-user">  </i> Register</button>			
					<a href="#/login" class="btn btn-link">Cancel</a>
			</div>
			</div>
		</form>



	</div>
</div>

















