<div class="panel panel-default">
       					 <!-- Default panel contents -->
   						 <div class="panel-heading"><center><h2> {{campus.campusName}} Campus List</h2></center></div>
   						 <div class="panel-body">
   						 
   						 


<div>
	<div class="col-md-12 ">
	
	 <div class="form-group">
				      <div class="input-group">
				        <div class="input-group-addon"><i class="fa fa-search"></i></div>
				        <input type="text" class="form-control" placeholder="Search in Campus Details" ng-model="searchCampus">
				      </div>    
	
		<button class="btn-btn-primary pull-right" ng-click="showAddCampusForm()"><h4>
			<span class="glyphicon glyphicon-plus text-primary"></span>
		</h4></button>
	</div>
	<div class="col-md-12 " ng-show="CampusFormDisplay">
			<form role="form">
			  <div class="form-group">
			    <label for="CampusName">Campus Name :</label>
			    <input type="text" class="form-control" id="studentName" ng-model="Campus.CampusName">
			  </div>
			  <div class="form-group">
			    <label for="CampusId">Campus id :</label>
			    <input type="text" class="form-control" id="CampustId" ng-model="Campus.CampusId">
			  </div>
			  
			   <div class="form-group">
			    <label for="CampusId">Organization id :</label>
			    <input type="text" class="form-control" id="CampustId" ng-model="Campus.OrgId">
			  </div>
			 
			  <button type="submit" class="btn btn-default" ng-click="addCampus()">Admit New Campus</button>
			  <button type="submit" class="btn btn-default" ng-click="closeAddCampusForm()">Cancel</button>
			</form>
	</div>
	
	<div class="row" >
		<table class="table table-bordered table-striped" >
    		<b> <thead>
		      <tr>
		        <td>
		          Campus Id
		       	</td>
		        <td>
		            Campus Name
		         </td>
		         <td>
		          Organization ID
		       	</td>
		       		      
		      </tr></b>
		    </thead>
	    	<tbody>
	     		<tr ng-repeat="std in CampusList | filter:searchCampus ">
	     		  <td>{{ std.id }}</td>
		     	   <td><a href="#">{{ std.campus_name }}</a></td>
		     	  <td>{{ std.organization_id }}</td>
		     	      	   
		     	</tr>
	   		 </tbody>
   		</table>
  	</div>
  
</div>
</div>
</div>

