<h5>Campus</h5>

<div scope-age ></div>
<form>
    <div class="form-group">
        <label for="name">Campus Name:</label> <input class="form-control" id="name" ng-model="campus.name">
        <label for="age">Dean:</label> <input id="dean" class="form-control" ng-model="campus.dean">
        <label for="age">City:</label> <input id="age" class="form-control" ng-model="campus.city">
        <label for="eyeColor">Campus #:</label> <input class="form-control" id="eyeColor" ng-model="campus.id">
        <label for="gender">Afiliation:</label> <input class="form-control" id="gender" ng-model="campus.affiliation">
        <label for="email">Email:</label> <input class="form-control" id="email" ng-model="campus.email">
        <label for="phone">Phone:</label> <input class="form-control" id="phone" ng-model="campus.phone">
        <label for="address">Address:</label> <textarea class="form-control" id="address" ng-model="campus.address"></textarea>
        <label for="address">About:</label> <textarea class="form-control" id="notes" ng-model="campus.about" placeholder="Enter some notes!"></textarea>
    </div>
</form>

