	


<div class="container">
      <div class="row">
     <h3>{{message}}</h3>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-0 toppad" >
   
 		
 
 
 			
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Student Details
              
                        <span class="pull-right">
                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                            <a ui-sref="viewStudentList" data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                            <button type="submit" data-original-title="save this user" data-toggle="tooltip" class="btn btn-sm btn-warning" ng-click="studentUpdate()"><i class="glyphicon glyphicon-floppy-save"></i></button>
                        </span>
              </h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="/assets/images/avatar-300x300.png" class="img-circle img-responsive"> </div>
       
                <div class=" col-md-9 col-lg-9 "> 

                  <form name="form" ng-submit="register()" role="form">
    
        <div class="col-md-6">
             <div class="form-group">
        <label for="state" class="control-label">StdAdminno :</label> 
        <input type="text" class="form-control" id="state" name="StdAdminno" ng-model="studentProfileDetails.Studentadminno" ng-disabled="isDisabled()" ng-minlength="5" ng-maxlength="20" required>
                <div class="help-block" ng-messages="form.StdAdminno.$error" ng-if="form.StdAdminno.$touched">
            <p ng-message="minlength">StdAdminno is too short.</p>
            <p ng-message="maxlength">StdAdminno is too long.</p>
            <p ng-message="required">StdAdminno is required.</p>
        </div>
      </div>
              <div class="form-group">
                <label for="identifier" class="control-label">Email ID :</label> 
        <input type="text" class="form-control" id="email" name="email" ng-model="studentProfileDetails.email" ng-disabled="isDisabled()" ng-minlength="5" ng-maxlength="20" required>
        <div class="help-block" ng-messages="form.email.$error">
            <p ng-message="required">Email is required</p>
          <p ng-message="minlength">Email is too short</p>
          <p ng-message="maxlength">Email is too long</p>
          <p ng-message="email">This needs to be a valid email</p>
        </div>
      </div>
      
      <div class="form-group">
        <label for="firstName" class="control-label">First Name :</label>
        <input type="text" class="form-control" id="firstName" name="firstName" ng-model="studentProfileDetails.firstName" ng-disabled="isDisabled()" ng-minlength="5" ng-maxlength="20" required>
                <div class="help-block" ng-messages="form.firstName.$error" ng-if="form.firstName.$touched">
            <p ng-message="minlength">First Name is too short.</p>
            <p ng-message="maxlength">First Name is too long.</p>
            <p ng-message="required">First Name is required.</p>
        </div>
      </div>
      <div class="form-group">
        <label for="middleName" class="control-label">Middle Name :</label> 
        <input type="text" class="form-control" id="middleName" name="middleName" ng-model="studentProfileDetails.middleName" ng-disabled="isDisabled()"
        ng-minlength="5" ng-maxlength="20" required>
                <div class="help-block" ng-messages="form.middleName.$error" ng-if="form.middleName.$touched">
            <p ng-message="minlength">Middle Name is too short.</p>
            <p ng-message="maxlength">Middle Name is too long.</p>
            <p ng-message="required">Middle Name is required.</p>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName" class="control-label">Last Name :</label>
         <input type="text" class="form-control" id="lastName" name="lastName" ng-model="studentProfileDetails.lastName" ng-disabled="isDisabled()"
         ng-minlength="5" ng-maxlength="20" required>
                <div class="help-block" ng-messages="form.lastName.$error" ng-if="form.lastName.$touched">
            <p ng-message="minlength">Last Name is too short.</p>
            <p ng-message="maxlength">Last Name is too long.</p>
            <p ng-message="required">Last Name is required.</p>
        </div>
      </div>
      
          <div class="form-group">
        <label for="address1" class="control-label">address1</label> 
        <input type="text" class="form-control" id="address1" name="address1" ng-model="studentProfileDetails.address1" ng-disabled="isDisabled()"
        ng-minlength="5" required>
                <div class="help-block" ng-messages="form.address1.$error" ng-if="form.address1.$touched">
            <p ng-message="minlength">address1 is too short.</p>
            <p ng-message="required">address1 is required.</p>
        </div>
      </div>
     
    
      
      </div>
      
      <div class="col-md-6">
      
      
      <div class="form-group">
        <label for="address2" class="control-label">address2</label> 
        <input type="text" class="form-control" id="address2" name="address2" placeholder="should be a address" ng-model="studentProfileDetails.address2" ng-disabled="isDisabled()" ng-minlength="5" required>
                <div class="help-block" ng-messages="form.address2.$error" ng-if="form.address2.$touched">
            <p ng-message="minlength">address2 is too short.</p>
            <p ng-message="required">address2 is required.</p>
        </div>
      </div>
 
      <div class="form-group">
        <label for="city" class="control-label">city</label> 
        <input type="text" class="form-control" id="city" name="city" ng-model="studentProfileDetails.city" ng-disabled="isDisabled()" required>
                <div class="help-block" ng-messages="form.city.$error" ng-if="form.city.$touched">
            <p ng-message="required">city is required.</p>
        </div>
      </div>
      <div class="form-group">
      
          <label for="state" class="control-label">State :</label>
         <input type="text" class="form-control" id="state" name="state" ng-model="studentProfileDetails.state" ng-disabled="isDisabled()" required>
                <div class="help-block" ng-messages="form.state.$error" ng-if="form.state.$touched">
            <p ng-message="required">state is required.</p>
        </div>
        </div>
       <div class="form-group">
       <label for="state" class="control-label">Class Name :</label>
          <input type="text" class="form-control" id="city" name="className" ng-model="studentProfileDetails.className" ng-disabled="isDisabled()" required>
                <div class="help-block" ng-messages="form.className.$error" ng-if="form.className.$touched">
            <p ng-message="required">class Name is required.</p>
        </div>
          </div>
        <div class="form-group">
            <label for="state" class="control-label">Vehicle Id  :</label>
            <input type="text" class="form-control" id="city" name="vehicleId" ng-model="studentProfileDetails.vehicleId" ng-disabled="isDisabled()" required>
                <div class="help-block" ng-messages="form.vehicleId.$error" ng-if="form.vehicleId.$touched">
                <p ng-message="required">VehicleId is required.</p>
              </div>  
        </div>
       </div>

         
    </form>
        </div>
        </div>
      </div>
    </div>     
            