



<div ng-controller="NewLoginController">
<div ng-controller="StaffController">
	<h3>Staff Class Association</h3>
	<table class="table" ng-repeat="x in adminstaff">
		<tr>
			<td>Organization Name:</td>
			<td>{{ x.orgName}}</td>
		</tr>
		<tr>
			<td>Organization Type :</td>
			<td>{{x.orgType}}</td>
		</tr>
		<tr>
			<td>
				<table class="table table-condensed " ng-repeat="t in x.staffclassassociation">
					<tr ng-click="getstudentList(10,12,18,13)">
						<td>
							<label for="identifier" class="control-label">ClassName	:</label>
						</td>
						<td>
							<label for="identifier" class="control-label"> 
								<!-- <a ng-click="getstudentList(10,12,18,13)">{{t.classname}}</a> -->
							<!-- <p ui-sref="studentByClass({ classId: t.classId })"> -->
								<a>{{t.classname}}</a>
								
							</label>
						</td>
						
						<td>
							<label for="identifier" class="control-label">ClassId:</label>
						</td>
						<td>
							<label for="identifier" class="control-label">{{t.classId}}</label>
						</td>
					</tr>
					
					
					
				</table>
				
				
			</td>
		</tr>
 <tr ng-repeat="t in students"><td>hello: 
	{{t.firstName}}</td>
 </tr>
	</table>
	
	
</div>


	
	
	</div>


</div>
