
<div ng-controller="NewLoginController">
 <h3> Staff Additional Details</h3>
  
    <table class="table" ng-repeat="x in adminstaff">
                <tr><td>Organization Name:</td><td> {{ x.orgName}}</td></tr>
               <tr><td> Organization Type :</td><td>{{x.orgType}}</td></tr>
               <tr><td>
         <table class="table table-condensed" ng-repeat="t in x.staffadditionaldetails">
          <tr>
			<td><label for="identifier" class="control-label">Experience :</label></td><td><label for="identifier" class="control-label"> {{t.experience}}</label> </td>
			</tr>
			<tr>
			<td><label for="identifier" class="control-label">Hobbies :</label></td><td><label for="identifier" class="control-label">  {{t.hobby}}</label> </td>
			</tr>
          
             
       </table></td></tr>
       </table>
          

</div>			